@use 'sass:map';

$button-variants: (
  'primary': (
    background: var(--color-primary),
    border: var(--color-primary),
    color: var(--color-on-primary),
    hover: var(--color-primary-darker),
  ),
  'ghost': (
    background: transparent,
    border: transparent,
    color: var(--color-text),
    hover: var(--gray-200),
  ),
  'outline': (
    background: var(--color-white),
    color: var(--color-primary),
    border: var(--color-primary),
    hover: var(--color-primary-light),
  ),
);

$button-sizes: (
  'sm': (
    fontSize: rem(12px),
    padding: 0 rem(24px),
    height: rem(36px),
  ),
);

.button {
  --bg-color: var(--gray-50);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  border: 1px solid transparent;
  border-radius: var(--radii-full);
  font-size: inherit;
  padding: 0 rem(24px);
  height: rem(42px);
  cursor: pointer;
  background-color: var(--bg-color);
  font-weight: 600;

  @each $variant, $styles in $button-variants {
    &--#{$variant} {
      background-color: map.get($styles, background);
      border-color: map.get($styles, border);
      color: map.get($styles, color);
      &:hover {
        $hover-value: map.get($styles, hover);
        --bg-color: #{$hover-value};
        background-color: var(--bg-color);
      }
    }
  }

  @each $size, $styles in $button-sizes {
    &--#{$size} {
      font-size: map.get($styles, fontSize);
      padding: map.get($styles, padding);
      height: map.get($styles, height);
    }
  }

  &--full {
    width: 100%;
  }

  &--loading {
    opacity: 80%;
    cursor: wait;
  }
}
