.select-trigger {
  height: var(--items-height);
  border: none;
  background-color: var(--gray-50);
  border-radius: var(--radii-full);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: rem(16px);
  flex-grow: 4;
}

.select-content {
  background-color: white;
  border-radius: var(--radii-lg);
  margin-block-start: rem(8px);
  overflow: hidden;
  @include mixins.shadow;
  z-index: var(--layer-floating);
}

.select-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(12px) rem(12px);
  cursor: pointer;
  &:focus-visible {
    outline: none;
    background-color: var(--color-focus-ring);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(8px);
  }
}

.select-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
