.spinner {
  width: rem(35px);
  height: rem(35px);
  border: 3px solid var(--color-primary);
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
