@use '@/styles/utils' as u;

.search-input {
  --icon-size: u.rem(24px);
  padding: u.rem(16px);
  border-radius: var(--radii-full);
  background-color: var(--gray-50);
  display: flex;
  align-items: center;
  gap: u.rem(16px);

  &:focus-within {
    outline: u.rem(3px) solid var(--blue-200);
  }

  &__input {
    width: 100%;
    border: none;
    background-color: transparent;

    &:focus-visible {
      outline: none;
    }
  }
}
