.filters {
  --items-height: #{rem(48px)};
  position: relative;
  z-index: var(--layer-above);

  display: flex;
  gap: rem(8px);
  background: linear-gradient(to bottom, white, transparent);
  padding-block: var(--offset-top);
  position: sticky;
  top: 0;
  flex-direction: column;
  @include mixins.above(mobile) {
    --items-height: #{rem(56px)};
    gap: rem(16px);
    flex-direction: row;
  }
}
