@use '@/styles/utils' as u;

.filters {
  --items-height: u.rem(56px);

  display: flex;
  gap: u.rem(16px);
  background: linear-gradient(to bottom, white, transparent);
  padding-block: var(--offset-bottom);
  position: sticky;
  top: 0;
}
